In [ ]:

!pip install --upgrade pandas pandasai

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Collecting pandas
  Using cached pandas-2.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
Requirement already satisfied: pandasai in /usr/local/lib/python3.10/dist-packages (1.2.5)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: astor<0.9.0,>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from pandasai) (0.8.1)
Requirement already satisfied: duckdb<0.9.0,>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from pandasai) (0.8.1)
Requirement already satisfied: ipython<9.0.0,>=8.13.1 in /usr/local/lib/python3.10/dist-packages (from pandasai) (8.15.0)
Requirement already satisfied: matplotlib<4.0.0,>=3.7.1 in /usr/local/lib/python3.10/dist-packages (from pandasai) (3.7.1)
Requirement already satisfied: openai<0.28.0,>=0.27.5 in /usr/local/lib/python3.10/dist-packages (from pandasai) (0.27.10)
Requirement already satisfied: pydantic<2,>=1 in /usr/local/lib/python3.10/dist-packages (from pandasai) (1.10.12)
Requirement already satisfied: python-dotenv<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from pandasai) (1.0.0)
Requirement already satisfied: scipy<2.0.0,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from pandasai) (1.11.2)
Requirement already satisfied: sqlalchemy<3.0.0,>=2.0.19 in /usr/local/lib/python3.10/dist-packages (from pandasai) (2.0.20)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (0.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (4.4.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (0.19.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (0.1.6)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (2.16.1)
Requirement already satisfied: stack-data in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (0.6.2)
Requirement already satisfied: traitlets>=5 in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (5.7.1)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (1.1.3)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython<9.0.0,>=8.13.1->pandasai) (4.8.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (3.1.1)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.10/dist-packages (from openai<0.28.0,>=0.27.5->pandasai) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from openai<0.28.0,>=0.27.5->pandasai) (4.66.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from openai<0.28.0,>=0.27.5->pandasai) (3.8.5)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<2,>=1->pandasai) (4.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy<3.0.0,>=2.0.19->pandasai) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython<9.0.0,>=8.13.1->pandasai) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython<9.0.0,>=8.13.1->pandasai) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython<9.0.0,>=8.13.1->pandasai) (0.2.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai<0.28.0,>=0.27.5->pandasai) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai<0.28.0,>=0.27.5->pandasai) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai<0.28.0,>=0.27.5->pandasai) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.20->openai<0.28.0,>=0.27.5->pandasai) (2023.7.22)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai<0.28.0,>=0.27.5->pandasai) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai<0.28.0,>=0.27.5->pandasai) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai<0.28.0,>=0.27.5->pandasai) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai<0.28.0,>=0.27.5->pandasai) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai<0.28.0,>=0.27.5->pandasai) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->openai<0.28.0,>=0.27.5->pandasai) (1.3.1)
Requirement already satisfied: executing>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from stack-data->ipython<9.0.0,>=8.13.1->pandasai) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from stack-data->ipython<9.0.0,>=8.13.1->pandasai) (2.4.0)
Requirement already satisfied: pure-eval in /usr/local/lib/python3.10/dist-packages (from stack-data->ipython<9.0.0,>=8.13.1->pandasai) (0.2.2)

In [ ]:
from pandasai import PandasAI
from pandasai.llm.openai import OpenAI
from pandasai import SmartDataframe
import pandas as pd

### PandasAI

In [ ]:
### ENTER YOUR OPENAI KEY HERE
OPENAI_API_KEY = "YOUR-KEY-HERE"

llm = OpenAI(api_token=OPENAI_API_KEY)

### Scenario 2

In [ ]:
# load data into pandas dataframe
df_p2 = pd.read_excel("platelets_3.xlsx", # other files with different scenarios - platelets_1, platelets_2
                   index_col=[0],
                  #  columns=['Observations']
                   )

df_p2 = df_p2.reset_index()
df_p2 = df_p2.rename(columns={'index':'Week', 'Unnamed: 1':'Observation'})
df_p2.head(50)

        Week           Observation Tofacitinib 5 mg BID OL (N=225)
0        NaN                   NaN                             NaN
1   Baseline                Result                             NaN
2   Baseline                     N                             223
3   Baseline             Mean (SE)                   316.87 (6.21)
4   Baseline                Median                             310
5   Baseline              Min. Max                  (135.0. 913.0)
6   Baseline                    Q1                             258
7   Baseline                    Q3                             356
8   Baseline                   NaN                             NaN
9     Week 2                Result                             NaN
10    Week 2                     N                             NaN
11    Week 2             Mean (SE)                   321.89 (6.42)
12    Week 2                Median                             NaN
13    Week 2              Min. Max                             NaN
14    Week 2                    Q1                             NaN
15    Week 2                    Q3                             NaN
16    Week 2                   NaN                             NaN
17    Week 2  Change from Baseline                             NaN
18    Week 2                     N                             NaN
19    Week 2             Mean (SE)                     4.86 (4.70)
20    Week 2                Median                             NaN
21    Week 2              Min. Max                             NaN
22    Week 2                    Q1                             NaN
23    Week 2                    Q3                             NaN
24    Week 2                   NaN                             NaN
25    Week 4                Result                             NaN
26    Week 4                     N                             NaN
27    Week 4             Mean (SE)                   293.49 (5.87)
28    Week 4                Median                             NaN
29    Week 4              Min. Max                             NaN
30    Week 4                    Q1                             NaN
31    Week 4                    Q3                             NaN
32    Week 4                   NaN                             NaN
33    Week 4  Change from Baseline                             NaN
34    Week 4                     N                             NaN
35    Week 4             Mean (SE)                   -25.06 (4.49)
36    Week 4                Median                             NaN
37    Week 4              Min. Max                             NaN
38    Week 4                    Q1                             NaN
39    Week 4                    Q3                             NaN
40    Week 4                   NaN                             NaN
41    Week 4                   NaN                             NaN
42    Week 4                   NaN                             NaN
43    Week 8                Result                             NaN
44    Week 8                     N                             NaN
45    Week 8             Mean (SE)                   301.81 (6.22)
46    Week 8                Median                             NaN
47    Week 8              Min. Max                             NaN
48    Week 8                    Q1                             NaN
49    Week 8                    Q3                             NaN

In [ ]:
df = SmartDataframe(df_p2.fillna(0), config={"llm": llm})

In [ ]:
# extract different clinical trial arms
list_arms = [x for x in df_p2.columns.values if x not in ['Week','Observation']]
arm = list_arms[0] # there's only one clinical trial arm in the example table
text_output = df.chat("What is the Mean value for each Week for {0} under change from baseline ?".format(arm))

In [ ]:
# generate prompts
prompt_template =\
"""
Given the following data from a clinical trial (from Table 35), where the first value reports the average platelet count for baseline week, and subsequent values reporting the change from baseline of mean value of platelet counts for each week (that the study participants were observed), identify the trend (you can directly use the values corresponding to each week - as they are obtained by taking a difference from the observation of baseline week) and give a comparative summary from baseline.

Data: {0}.

 Example: "Mean platelets initially increased from baseline at Week 2 and decreased compared to Week 18. The largest decrease was observed between Weeks 2 and 4. At Week 18, the mean (SE) change from baseline in platelets was -14.24 (4.62) (Table 28)"
""".format(text_output)
print(prompt_template)

Given the following data from a clinical trial (from Table 35), where the first value reports the average platelet count for baseline week, and subsequent values reporting the change from baseline of mean value of platelet counts for each week (that the study participants were observed), identify the trend (you can directly use the values corresponding to each week - as they are obtained by taking a difference from the observation of baseline week) and give a comparative summary from baseline.

Data: {'Baseline': '316.87 (6.21)', 'Week 2': '4.86 (4.70)', 'Week 4': '-25.06 (4.49)', 'Week 8': '-14.16 (5.02)', 'Week 12': '-13.09 (4.56)', 'Week 18': '-11.09 (4.56)'}.

 Example: "Mean platelets initially increased from baseline at Week 2 and decreased compared to Week 18. The largest decrease was observed between Weeks 2 and 4. At Week 18, the mean (SE) change from baseline in platelets was -14.24 (4.62) (Table 28)"

### **Outputs**

1. Scenario 1

  Based on the provided data, we can identify the trend and provide a comparative summary from baseline for the mean platelet counts. Here's a summary in the format you requested:

  "Mean platelet counts initially increased from baseline at Week 2 and continued to increase over the subsequent weeks. The largest increase was observed between Week 0 (Baseline) and Week 18. The trend in mean platelet counts over time is as follows:

  - Baseline: The average platelet count at baseline was 316.87 (SE 6.21).

  - Week 2: Mean platelet counts increased by 4.86 units from baseline (SE 4.70).

  - Week 4: Mean platelet counts increased by 9.86 units from baseline (SE 4.70).

  - Week 8: Mean platelet counts increased by 14.86 units from baseline (SE 4.70).

  - Week 12: Mean platelet counts increased by 17.86 units from baseline (SE 4.70).

  - Week 18: Mean platelet counts increased by 22.86 units from baseline (SE 4.70).

  The largest increase in mean platelet counts occurred between Week 0 (Baseline) and Week 18, where the mean (SE) change from baseline in platelets was +22.86 (4.70). The trend suggests a progressive increase in platelet counts over the course of the study."

  Please note that the standard error (SE) is provided to indicate the variability or uncertainty associated with each mean platelet count measurement. This trend suggests a positive response in mean platelet counts to the treatment or intervention being studied. However, further analysis and clinical interpretation would be necessary to fully understand the clinical implications of these changes.
---
2. Scenario 2

  Based on the provided data, we can identify the trend and provide a comparative summary from baseline for the mean platelet counts. Here's a summary in the format you requested:

  "Mean platelet counts initially decreased from baseline at Week 2 and continued to decrease over the subsequent weeks. The largest decrease was observed between Week 2 and Week 4. At Week 18, the mean (SE) change from baseline in platelets was -11.09 (4.56).

  - Baseline: The average platelet count at baseline was 316.87 (SE 6.21).

  - Week 2: Mean platelet counts decreased by -27.06 units from baseline (SE 4.49).

  - Week 4: Mean platelet counts decreased by -25.06 units from baseline (SE 4.49).

  - Week 8: Mean platelet counts decreased by -14.16 units from baseline (SE 5.02).

  - Week 12: Mean platelet counts decreased by -13.09 units from baseline (SE 4.56).

  - Week 18: Mean platelet counts decreased by -11.09 units from baseline (SE 4.56).

  The largest decrease in mean platelet counts occurred between Week 2 and Week 4, where the mean (SE) change from baseline in platelets was -25.06 (4.49). The trend suggests a progressive decrease in platelet counts over the course of the study."

  This trend indicates that platelet counts are decreasing over time, suggesting a potential response to the treatment or intervention being studied. However, further analysis and clinical interpretation are necessary to fully understand the clinical implications of these changes.
---
3. **Scenario 3**



  Based on the provided data, we can identify the trend and provide a comparative summary from baseline for the mean platelet counts. Here's a summary in the format you requested:

  "Mean platelet counts initially increased from baseline at Week 2 but then decreased compared to Week 4, and this decreasing trend continued until Week 18. The largest decrease was observed between Weeks 4 and 8. At Week 18, the mean (SE) change from baseline in platelets was -11.09 (4.56).

  - Baseline: The average platelet count at baseline was 316.87 (SE 6.21).

  - Week 2: Mean platelet counts increased by 4.86 units from baseline (SE 4.70).

  - Week 4: Mean platelet counts decreased by -25.06 units from baseline (SE 4.49).

  - Week 8: Mean platelet counts decreased by -14.16 units from baseline (SE 5.02).

  - Week 12: Mean platelet counts decreased by -13.09 units from baseline (SE 4.56).

  - Week 18: Mean platelet counts decreased by -11.09 units from baseline (SE 4.56).

  The largest decrease in mean platelet counts occurred between Week 4 and Week 8, where the mean (SE) change from baseline in platelets was -14.16 (5.02). The trend suggests an initial increase in platelet counts at Week 2, followed by a continuous decrease from Week 4 to Week 18."

  This trend indicates that platelet counts initially increased but then progressively decreased over the course of the study. It's important to interpret these findings in the context of the clinical trial and consult with a medical professional to understand the clinical implications.

### Loop For multiple trial arms

In [ ]:
# extract different clinical trial arms
list_arms = [x for x in df_p2.columns.values if x not in ['Week','Observation']]

# create dictinoary to store all the relevant filtered numbers
dict_relevant_numbers = {x:{} for x in list_arms}

# loop over all arms and extract the relevant rows
for arm in list_arms:
  text_values = df.chat("What is the Mean value for each Week for {0} under change from baseline ?".format(arm))
  dict_relevant_numbers[arm] = text_values

In [ ]:
# generate prompts
prompt_template =\
"""
Given the following data from a clinical trial (from Table 35), where the first value reports the average platelet count for baseline week, and subsequent values reporting the change from baseline of mean value of platelet counts for each week (that the study participants were observed), identify the trend (you can directly use the values corresponding to each week - as they are obtained by taking a difference from the observation of baseline week) and give a comparative summary from baseline.

Data: {0}.

 Example: "Mean platelets initially increased from baseline at Week 2 and decreased compared to Week 18. The largest decrease was observed between Weeks 2 and 4. At Week 18, the mean (SE) change from baseline in platelets was -14.24 (4.62) (Table 28)"
""".format(dict_relevant_numbers)